[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "project"

[packages]
django = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
